<h1>THs is question page</h1>



<div class="row mt pt">
  <div class="large-5 columns">
    <div class="top-pad glassy-bg">
      <%= render partial: "questions/new" %>
    </div>
  </div>
  <div class= "large-7 columns" id="questions">
    <%= render partial: @questions.reverse %>
  </div>
</div>

