<h1>THs is question page</h1>


<!-- <div class="container"> -->
  <div class= "row" id="questions">
    <div class=".col-xs.6">
    <%= render partial: @questions %>
    </div>  
   <div class=".col-xs-6">
      <%= render partial: "questions/new" %>
  </div>

  </div>
 </div>

  


 
   
    



