
<div class="container">
   <div class= "row" id="questions">
    <div class="col-md-6">
     <%= render partial: @questions %>
    </div>  
    <div class="col-md-6">
      <%= render partial: "questions/new" %>
    </div>
  </div>
 </div>

  


 
   
    



