
<div class="container">
   <!-- <div class= "row" id="questions"> -->
    <div class="col-md-10">
    <table class="table table-hover" id="question-">
      <thead>
       <tr>
         <th> Title </th>
         <th> User </th>
         <th> Last Updated </th>
         <th> Keywords </th>
         </tr>
      </thead>
     <%= render partial: @questions %>
    </table>
    <!-- </div>   -->
    <div class="col-md-6 col-md-offset-3">
     <h4>Add New Question</h4>
      <%= render partial: "questions/new" %>
    <!-- </div> -->
  </div>
 </div>

  


 
   
    



