<div class= "container" id="articles">
 <div class="col-xs-12">
    <%= render partial: @articles.reverse %>
  </div>
</div>



  <div class="col-xs-6">
    <div class="top-pad glassy-bg">
      <%= render partial: "articles/new" %>
    </div>
  </div>
  
