<div class="container">
  <div class="col-xs-6">
    <h1 id="article-header"><%= @article.header %></h1>
    <p id="question-layout"><%= @article.content %></p>
    <p><%= raw tag_links(@article.all_tags)%></p>
  </div>

</div>