<div class="container">
  <div class="col-xs-10">
    <h1 id="article-header"><%= @article.header %></h1>
      <p><%= raw tag_links(@article.all_tags)%></p>
    <p id="article-layout"><%= @article.content %></p>
  
   <%= render :partial "articles/search_results"%>
  </div>

</div>