<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> Questions</a>
      <a class="navbar-brand" href="/"> Meetups</a>
      <a class="navbar-brand" href="/"> Aricles</a>
    </div>  
  </div>  
</nav>  

