<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> Home</a>
      <a class="navbar-brand" href="/questions"> Questions</a>
      <a class="navbar-brand" href="/"> Meetups</a>
      <a class="navbar-brand" href="/articles"> Articles</a>

        <div class="navbar-form navbar-left">
         <%= form_tag(articles_path, :method => "get", id: "nav-search", class: "navbar-form navbar-left") do %>
         <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %> 
         <%=submit_tag "Search"%>
         <% end %>
        </div>



    </div>  
  </div>  
</nav>  
