<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="container">
  <div class="col-md-10" id="welcome-text">
 <h2><strong> Welcome to THelp</strong></h2>


<p>THelp has been created to help those diagnose with Thyroid problems</p><br>

    <p>Oat cake lemon drops cake jelly beans lemon drops oat cake cake fruitcake cupcake. Toffee powder lemon drops sugar plum fruitcake chocolate cake lemon drops. Sweet roll candy fruitcake sesame snaps. Biscuit macaroon gummies pudding liquorice cotton candy chupa chups icing. Cake jelly-o fruitcake candy toffee jujubes cupcake danish. Gummi bears chocolate cake bear claw lemon drops apple pie gummies cookie fruitcake muffin. Croissant tart topping sugar plum macaroon.</p>
<P>Pudding powder chocolate carrot cake oat cake cotton candy cotton candy dessert. Cake fruitcake lollipop ice cream cake tart wafer wafer. Tootsie roll marshmallow gummies brownie. Icing marshmallow sweet roll fruitcake tiramisu. Brownie sesame snaps liquorice marshmallow gingerbread croissant. Icing toffee halvah brownie. Oat cake biscuit marzipan gummi bears wafer. Caramels chocolate bar jujubes powder icing candy. Lollipop toffee jelly beans jelly beans biscuit wafer croissant pastry.
Jelly beans liquorice macaroon chocolate bar tiramisu. Chocolate bar bonbon gummies cheesecake caramels macaroon tiramisu powder. Danish chocolate cake cookie. Pie tootsie roll cupcake. Jujubes chocolate cake soufflé candy canes apple pie. Icing chocolate cake icing macaroon apple pie jelly pastry donut bonbon.
Fruitcake chocolate sweet roll bonbon. Apple pie jelly-o biscuit tiramisu bear claw fruitcake. Candy canes lollipop brownie soufflé topping chocolate cake. Fruitcake candy apple pie cheesecake. Muffin oat cake pie tiramisu gummi bears dessert. Liquorice jelly beans biscuit gummies macaroon pastry marshmallow. Chocolate chocolate bar soufflé tart pastry. Toffee biscuit tootsie roll cake marshmallow jelly croissant sesame snaps. Bonbon sweet jelly-o liquorice ice cream. Soufflé bear claw sweet biscuit tart gummies carrot cake caramels cake.
Toffee halvah lemon drops marzipan candy. Powder pastry pastry pie. Soufflé sweet roll cupcake powder chocolate bar toffee cake muffin wafer. Halvah liquorice powder gummies. Brownie chocolate gummies tootsie roll powder wafer tart donut. Apple pie toffee bonbon.<p><
</div>
  </div>
</body>
</html>